<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="67c1fc">  <td>19/08/11 00:11:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumTest.one()[pri:0, instance:qaclickacademy.SeleniumTest@31a5c39e]">one</td> 
  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="67c1fc">  <td>19/08/11 00:11:26</td>   <td>10350</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumTest.login1()[pri:1, instance:qaclickacademy.SeleniumTest@31a5c39e]">login1</td> 
  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="67c1fc">  <td>19/08/11 00:11:40</td>   <td>23958</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumTest.loginError()[pri:1, instance:qaclickacademy.SeleniumTest@31a5c39e]">loginError</td> 
  <td>main@1740189450</td>   <td></td> </tr>
</table>
